:root {
    --bulma-primary: #2C2A9B;
    --bulma-primary-h: 241deg;
    --bulma-primary-s: 57%;
    --bulma-primary-l: 39%;
    --bulma-primary-invert: #ffffff;
}


html,
body {
    overflow-x: hidden !important;
    overflow-y: auto !important;
    background-color: var(--bulma-primary);
}

.hero.is-fullheight {
    min-height: 100dvh !important;
}

.hero-body {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    padding: 2rem 1.5rem !important;
}

.hero-body>.container {
    width: 100%;
}

@media screen and (min-width: 769px) and (max-height: 850px) {
    .hero-body {
        padding: 1rem !important;
    }

    figure.is-128x128 {
        height: 90px !important;
        width: 90px !important;
    }

    figure.is-128x128 img {
        height: 100%;
        width: 100%;
    }

    .mb-5 {
        margin-bottom: 1.25rem !important;
    }

    .mt-5 {
        margin-top: 1.25rem !important;
    }

    .card-content {
        padding: 1.25rem !important;
    }
}

.input:focus,
.input:active,
.input:hover,
.input {
    box-shadow: none !important;
    border: none;
    outline: none !important;
    color: black !important;
}

#university:focus,
#university:active,
#university:hover,
#university {
    box-shadow: none !important;
    border: none;
    outline: none !important;
    color: black !important;
}

#university::placeholder {
    color: hsl(0, 0%, 71%)
}

.input::placeholder {
    color: hsl(0, 0%, 71%) !important;
}